 header{
    height:100px;
    width:100%;
    background-color: rgb(36,13,13);
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo
{
    height: 50px;
    width: 80px;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

}
a{
    text-decoration: none;
    color: white;
}
li{
    margin: 10px;

}
.main{
 width: 90%;
 margin-left:15%;
}
.blog{
    background-color: rgb(162, 99, 162);
    margin-bottom: 20px;
    height:100px;
    width: 80%;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
img{
    height: 300px;
    margin: 20px;
    width: 300px;
    border-radius: 20px;

}
.grid
{
    display: inline-block;
    flex-wrap: wrap;
    
}
.content
{
    height: 300px;
    background-color: #2a8080;
    color: white;
    margin: 0px;
    text-align: center;
    padding-top:30px;

}
button{
 height: 50px;
 width: 150px;
 background-color: #29d9d5;   
 border-radius: 30px;
}
.icon img{
    height: 30px;
    width: 30px;
    
}
.bottom{
    height:200px;
    background-color: rgb(42, 42, 41);
    display: flex;
    justify-content:space-between;
}
p{
    color: white;
}
.photography .contact .news
{
     
    color: white;

    display: flex;
    justify-content:space-between;
}

.grid img:hover
{
    opacity: 0.5;

}
button:hover
{
 height: 70px;
 width: 170px;
}
a:hover{
    color: blue;
    font-size: large;
}
input{
    border-radius: 20px;
    margin: 10px;
    height: 30px;
    width: 250px;
}